In [ ]:
import pandas as pd

In [ ]:
import numpy as  np

In [ ]:
pd.set_option('display.min_rows',50)

In [ ]:
df = pd.read_csv("E:\python project\Pandas_Project_Session\data\global_superstore\global_superstore_2016.csv",encoding='latin1')

In [149]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,State,Country,Region,Market,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,Oklahoma,United States,Central US,USCA,TEC-PH-5816,Technology,Phones,Samsung Convoy 3,222,2,0.0,62,41,High
1,26341,IN-2014-JR162107-41675,2014-02-05,NaT,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,New South Wales,Australia,Oceania,Asia Pacific,FUR-CH-5379,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709,9,0.1,289,924,Critical
2,25330,IN-2014-CR127307-41929,NaT,2014-10-18,First Class,CR-127307,Craig Reiter,Consumer,NaN,Brisbane,Queensland,Australia,Oceania,Asia Pacific,TEC-PH-5356,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175,9,0.1,920,915,Medium
3,13524,ES-2014-KM1637548-41667,NaT,2014-01-30,First Class,KM-1637548,Katherine Murray,Home Office,NaN,Berlin,Berlin,Germany,Western Europe,Europe,TEC-PH-5267,Technology,Phones,"Motorola Smart Phone, Cordless",2893,5,0.1,97,910,Medium
4,47221,SG-2014-RH9495111-41948,2014-11-05,NaT,Same Day,RH-9495111,Rick Hansen,Consumer,NaN,Dakar,Dakar,Senegal,Western Africa,Africa,TEC-CO-6011,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2833,8,0.0,312,903,Critical

In [ ]:
df.info()

In [ ]:
df.describe()

convert OrderDate and ShipDate to datetime object

In [ ]:
df['Order Date'] = pd.to_datetime(df['Order Date'],errors='coerce')

In [ ]:
df['Ship Date'] = pd.to_datetime(df['Ship Date'],errors='coerce')

In [ ]:
df.dtypes

In [ ]:
df.head()

In [ ]:
df[['Order Date','Ship Date']]

In [ ]:
df

In [ ]:
df['Shipping Cost'].astype(int)

### check whether all the values of columns 'Sales' & 'Profit' contains $ symbol or not

In [ ]:
if df['Sales'].str.contains('$').all():
    print("Yes:$ is present")
else:
    print("No: $ is not present")

In [ ]:
if df['Profit'].str.contains('$').all():
    print("Yes:$ IS present")
else:
    print("No: $ is not present")

In [ ]:
df.dtypes

### clean the columns 'Sales' & 'Profit' whcih consists of '$', '(', & ')' symbols

In [ ]:
df['Sales'] = df['Sales'].str.replace('\$',' ',regex = True)
df['Sales'][:10]

In [ ]:
df['Sales'] = df['Sales'].str.replace(',','',regex = True)
df['Sales'][:10]

In [ ]:
df['Profit'] = df['Profit'].str.replace('\$',' ',regex = True)

In [ ]:
df['Profit'][:10]

In [ ]:
df['Profit'] = df['Profit'].str.replace('\$',' ',regex = True)

In [ ]:
df['Profit'] = df['Profit'].str.replace('\)',' ',regex = True)

In [ ]:
df['Profit'] = df['Profit'].str.replace('\(', '',regex = True)

In [ ]:
df['Profit']

In [ ]:
df.info()

In [ ]:
df

## Let's begin the analysis with the Project Questions
### 1. Total how many orders have cross the shipping cost of 500?

In [ ]:
shipping_cost = (df['Shipping Cost']>500)
shipping_cost[:5]

In [150]:
total_orders = shipping_cost.sum()
total_orders

np.int64(120)

#### 2. Count the number of segments, countries, regions, markets, categories, and sub-categories present in the global_superstore_2016 data.

In [ ]:
df.Segment.value_counts()

In [ ]:
df['Country'].value_counts()

In [ ]:
len(df['Country'].value_counts())

In [ ]:
df['Region'].value_counts()

In [ ]:
df['Market'].value_counts()

In [ ]:
df['Category'].value_counts()

In [ ]:
df['Sub-Category'].value_counts()

In [ ]:
df.columns

#### 3. Get the list of Order ID's where the Indian customer's have bought the things under the category 'Technology' after paying the Shipping Cost more than 500.

In [ ]:
list_indian_customers = (df['Country']== 'India') & (df['Category']=='Technology') & (df['Shipping Cost'] >= 500)
list_indian_customers

In [ ]:
order_id = df[list_indian_customers]
order_id

In [ ]:
df.dtypes

In [ ]:
df['Sales'] = pd.to_numeric(df['Sales'],errors = 'coerce')

In [ ]:
df['Sales'] = df['Sales'].round().astype(int)
df.dtypes

In [ ]:
df['Shipping Cost'] = df['Shipping Cost'].round().astype(int)

In [ ]:
df['Profit'] = pd.to_numeric(df['Profit'],errors = 'coerce')

In [ ]:
df['Profit'] = df['Profit'].fillna(0)

In [ ]:
df['Profit'] = df['Profit'].round().astype(int)

In [ ]:
df.dtypes

### 4. Get the list of Order ID's where the Indian customer's have bought the things under the category 'Technology' where the Sales is greater than 500.

In [ ]:
bought = (df['Country']=='India') & (df['Category']=='Technology') & (df['Sales'] > 500)

## 5.How many people from the State 'Karnataka' have bought the things under the category 'Technology'.

In [ ]:
c = df[(df['State'] == 'Karnataka')& (df['Category']=='Technology')]
pd.set_option('display.max_columns', None)
c

#### 6. Get the list of countries where the 'Profit' and 'Shipping Cost's are greater than or equal to 2000 and 300 respectively.¶

In [ ]:
profit_greater = (df['Profit'] >= 2000) & (df['Shipping Cost'] >= 300)
cond1 = df[profit_greater]

In [ ]:
cond1.head(5)

### 7. Find the list of Indian states where the people have purchased the things under the category Technology.

In [ ]:
cond_states_tech = (df['Country']=='India') & (df['Category']=='Technology')

In [ ]:
Indian_States = df[cond_states_tech]

In [ ]:
Indian_States['State'].drop_duplicates().tolist()

## 8. Find the overall rank of "India" where the 'Profit' is maximum under the category 'Technology'.

In [ ]:
pro_max =  (df['Profit'].max()) & (df['Category']=='Technology')

In [ ]:
maxx = df[pro_max]

In [ ]:
maxx

In [ ]:
global_countries = maxx.sort_values(by = ['Profit'],ascending=False)
global_countries.head(5)

In [ ]:
ranked_data = global_countries['Profit'].rank(method='min', ascending=False)
ranked_data

In [ ]:
global_countries['Country']

In [ ]:
Top_profit_countries = global_countries['Country'].drop_duplicates().tolist()

In [ ]:
Top_profit_countries

In [ ]:
ranked_countries = global_countries['Country'].drop_duplicates()

In [ ]:
ranked_series = pd.concat([ranked_countries,ranked_data], axis=1)

In [ ]:
ranked_series

## 9. Display the data with min, max, average and std of 'Profit' & 'Sales' for each Sub-Category under each Category

In [ ]:
grouped_data = df.groupby(by=['Country', 'Category', 'Sub-Category'], as_index=True)
grouped_data

In [ ]:
functions = [('min_value', 'min'), ('max_value', 'max'), ('mean_value', 'mean'), ('std_value', 'std')]

In [ ]:
aggregate_data = grouped_data[['Sales','Profit']].agg(functions)

In [152]:
aggregate_data

                                             Sales                         \
                                         min_value max_value   mean_value
Country     Category        Sub-Category
Afghanistan Furniture       Bookcases          732      2070  1401.000000
                            Chairs             417       914   665.500000
                            Furnishings         85       220   135.333333
                            Tables             267      4626  2113.666667
            Office Supplies Appliances         669       669   669.000000
                            Art                 30       178   111.000000
                            Binders             34       252    97.666667
                            Envelopes           79       231   171.333333
                            Fasteners           14        45    29.500000
                            Labels              13        64    39.333333
                            Paper               15       123    77.250000
                            Storage             62       333   190.500000
                            Supplies            69       244   154.666667
            Technology      Accessories        115      1471   409.400000
                            Copiers            427       712   569.500000
                            Machines           346       346   346.000000
                            Phones             413      1168   732.500000
Albania     Furniture       Bookcases          364       414   389.000000
                            Furnishings         58        58    58.000000
            Office Supplies Art                 16       174    74.333333
                            Binders              6        28    17.000000
                            Labels              11        11    11.000000
                            Storage             19       219   114.666667
            Technology      Machines            85      1619   852.000000
                            Phones             182       554   368.000000
...                                            ...       ...          ...
Zambia      Office Supplies Labels               9        55    24.833333
                            Paper               18       110    57.400000
                            Storage              9      1023   217.125000
                            Supplies            18        84    57.500000
            Technology      Accessories         41       246   110.750000
                            Copiers            122      1181   415.571429
                            Machines           598      1247   937.333333
                            Phones              89      1272   426.800000
Zimbabwe    Furniture       Bookcases           51        86    68.500000
                            Chairs              50       627   338.500000
                            Furnishings         12        13    12.500000
                            Tables             143       143   143.000000
            Office Supplies Appliances          29       161   115.333333
                            Art                  4       112    27.055556
                            Binders              1        40     7.166667
                            Envelopes            6        43    21.200000
                            Fasteners            4         8     5.333333
                            Labels               3        14     6.000000
                            Paper                7        32    21.000000
                            Storage              3       162    43.333333
                            Supplies            11        67    38.666667
            Technology      Accessories         78        78    78.000000
                            Copiers            154       445   299.500000
                            Machines            15       104    53.250000
                            Phones              22       102    62.000000

                                                         Profit            \
                                            std_value min_value max_value
Country     Category        Sub-Category
Afghanistan Furniture       Bookcases      946.108873       102       849
                            Chairs         351.432070        46       357
                            Furnishings     51.348483         1        80
                            Tables        2254.452114        35       648
            Office Supplies Appliances            NaN       281       281
                            Art             69.942834         8        76
                            Binders         82.918434         1        53
                            Envelopes       81.094595         9        86
                            Fasteners       21.920310         2         2
                            Labels          25.540817         1        22
                            Paper           45.154365         3        43
                            Storage        121.766169        21        71
                            Supplies        87.557600        19       104
            Technology      Accessories    593.736726         4       515
                            Copiers        201.525433         4         7
                            Machines              NaN        14        14
                            Phones         345.771119        25       444
Albania     Furniture       Bookcases       35.355339        40       203
                            Furnishings           NaN         3         3
            Office Supplies Art             86.731386         2        24
                            Binders         15.556349         0         2
                            Labels                NaN         2         2
                            Storage        100.281271         9        55
            Technology      Machines      1084.701802         1       259
                            Phones         263.043723        22        40
...                                               ...       ...       ...
Zambia      Office Supplies Labels          20.970614         3        20
                            Paper           41.385988         2        40
                            Storage        241.927227         3       184
                            Supplies        31.596413         3        40
            Technology      Accessories     91.928867         6        31
                            Copiers        379.685333         0       261
                            Machines       325.515489        75       263
                            Phones         501.335915         4       407
Zimbabwe    Furniture       Bookcases       24.748737       109       181
                            Chairs         408.000613         0        56
                            Furnishings      0.707107        20        22
                            Tables                NaN       276       276
            Office Supplies Appliances      74.808645        50       284
                            Art             28.814768         5       133
                            Binders         11.019267         1        89
                            Envelopes       14.515509        10        83
                            Fasteners        2.309401         5        10
                            Labels           5.354126         3        18
                            Paper           11.633286        16        74
                            Storage         52.127248         7       125
                            Supplies        24.889087        12        56
            Technology      Accessories           NaN        60        60
                            Copiers        205.768073       257       371
                            Machines        42.295587        20       174
                            Phones          56.568542        48       170


                                          mean_value   std_value
Country     Category        Sub-Category
Afghanistan Furniture       Bookcases     475.500000  528.208766
                            Chairs        201.500000  219.910209
                            Furnishings    33.000000   32.273828
                            Tables        415.666667  332.331662
            Office Supplies Appliances    281.000000         NaN
                            Art            33.250000   30.761177
                            Binders        21.666667   20.016660
                            Envelopes      39.666667   40.820746
                            Fasteners       2.000000    0.000000
                            Labels         13.666667   11.150486
                            Paper          14.750000   18.945096
                            Storage        46.750000   22.838199
                            Supplies       56.666667   43.316663
            Technology      Accessories   112.800000  224.974887
                            Copiers         5.500000    2.121320
                            Machines       14.000000         NaN
                            Phones        237.250000  199.215754
Albania     Furniture       Bookcases     121.500000  115.258405
                            Furnishings     3.000000         NaN
            Office Supplies Art            10.333333   11.930353
                            Binders         1.000000    1.414214
                            Labels          2.000000         NaN
                            Storage        35.666667   23.860707
            Technology      Machines      130.000000  182.433550
                            Phones         31.000000   12.727922
...                                              ...         ...
Zambia      Office Supplies Labels          7.166667    6.462714
                            Paper          16.800000   16.392071
                            Storage        53.000000   52.572490
                            Supplies       21.750000   16.152915
            Technology      Accessories    17.500000   10.661457
                            Copiers        68.285714   87.461828
                            Machines      196.333333  105.248911
                            Phones        135.800000  175.133378
Zimbabwe    Furniture       Bookcases     145.000000   50.911688
                            Chairs         28.000000   39.597980
                            Furnishings    21.000000    1.414214
                            Tables        276.000000         NaN
            Office Supplies Appliances    156.333333  118.449708
                            Art            42.055556   43.329751
                            Binders        13.583333   25.130417
                            Envelopes      35.200000   30.474580
                            Fasteners       8.333333    2.886751
                            Labels          7.500000    7.047458
                            Paper          37.250000   25.342652
                            Storage        51.666667   43.384905
                            Supplies       37.833333   16.326869
            Technology      Accessories    60.000000         NaN
                            Copiers       314.000000   80.610173
                            Machines       77.000000   73.143694
                            Phones        109.000000   86.267027

[2009 rows x 8 columns]